
/*
* ==========================================================================
* Button Base
* ==========================================================================
*/
.c-btn {
  @include btn-base();

  &:active,
  &-active {
    @include btn-active;
  }
}

.c-btn {

  &-success {
    @include style($success, $white, $success);
  }

  &-default {
    @include style($default, $black, darken($default, 10%));
  }

  &-warning {
    @include style($warning, $white, $warning);
  }

  &-danger {
    @include style($danger, $white, $danger);
  

.c-btn {
  @include btn-size(md);

  &-sm {
    @include btn-size(sm);
  }

  &-lg {
    @include btn-size(lg);
  }

  &-xl {
    @include btn-size(xl);
  }
}

.c-btn-block {
  display: block;
  width: 100%;
  text-align: center;
}

.c-btn.c-btn-disabled,
.c-btn[disabled] {
  @include btn-disabled;
}


.c-btn {
  &-primary {
    @include style(color(primary), $white, color(primary));

    &-outline {
      @include btn-ghost(#097FD7, #333, white);
    }
  }
}

.c-btn {
  &-secondary {
    @include style(#fbfbfb, #333333, #E6E6E6);
  } 
}


.c-btn-theme {
  @include btn-theme(#097FD7,#3A99DF,white,#097FD7,#3A99DF, $gradients: false, $shadows: true)
}
