@mixin linear-gradient($gradientLine, $colorStops...) {
  background-image: linear-gradient($gradientLine, $colorStops);

  @if length($gradientLine) == 2 {
    background-image: linear-gradient(to #{inverse-side(nth($gradientLine, 1))} #{inverse-side(nth($gradientLine, 2))}, $colorStops);
  }

  @else {
    background-image: linear-gradient(to #{inverse-side($gradientLine)}, $colorStops);
  }
}

/*
* ==========================================================================
* Button Base
* ==========================================================================
*/
@mixin btn-base($background: $default, $font: $btn-font-size) {
  background-color: $background;
  font-weight: $btn-font-weight;
  font-size: $font;
  font-family: $btn-font-family;
  line-height: $btn-line-height;
  padding: $btn-default-padding-v $btn-default-padding-h;
  text-decoration: none;
  text-align: center;
  border-radius: $btn-radius;
  white-space: nowrap;
  display: inline-block;
  border: $btn-border-width solid $light-gray;
  box-sizing: border-box;
  cursor: pointer;
}

@mixin btn-active {
  text-decoration: none;
  background-color: desaturate($default, 10%);
  border-color: darken($default, 15%);
  transition-duration: 0s;
  box-shadow: $btn-shadow-active;
}

@mixin dropdown-list {
  display: none;
  position: absolute;
  padding: $dropdown-list-padding;
  margin: $dropdown-list-margin;
  top: 0;
  left: 0;
  width: $dropdown-width;
  list-style-type: none;
  background: $dropdown-background-color;
  color: $dropdown-color;
  border: $dropdown-border;
  box-shadow: $dropdown-box-shadow;
  border-radius: $dropdown-radius;
  box-sizing: border-box;
  z-index: 12;
}

@mixin btn-size($size) {
  @if $size == sm {
    font-size: $btn-sm-font;
    padding: $btn-sm-padding;
  }

  @elseif $size == md {
    font-size: $btn-md-font;
    padding: $btn-md-padding;
  }

  @elseif $size == lg {
    font-size: $btn-lg-font;
    padding: $btn-lg-padding;
  }

  @elseif $size == xl {
    font-size: $btn-xl-font;
    padding: $btn-xl-padding;
  }
}

@mixin style($bg, $color, $border: $bg, $gradients: $btn-gradients, $shadows: $btn-shadows) {
  color: $color;
  border: $btn-border-width solid $border;
  border-radius: $btn-radius;

  @if $gradients == true {
    @include linear-gradient(to bottom, lighten($bg, 6%), $bg 66%, darken($bg, 4%));
  }

  @else {
    background: $bg;
  }

  @if $shadows == true {
    box-shadow: $btn-shadow;
  }

  @else {
    box-shadow: 0;
  }

  &:focus {
    color: $color;
  }

  &:hover,
  &.c-btn-hover,
  a:hover,
  a:focus {
    background: lighten($bg, 6%);
    color: $color;
    border: $btn-border-width solid $border;
  }

  &:active,
  &.c-btn-active {
    background: $bg;
    border-color: darken($bg, 15%) darken($bg, 10%) darken($bg, 10%);
  }

  @if $btn-active-selected {
    &.c-btn-active {
      color: $white;
      border-color: transparent;
    }
  }
}

@mixin btn-disabled {
  &,
  &:hover,
  &:focus,
  &:active {
    top: 0;
    background: $btn-disabled-bg;
    border: $btn-disabled-bd;
    text-shadow: $btn-disabled-text-shadow;
    color: $btn-disabled-c;
    line-height: 1;
    cursor: not-allowed;
    appearance: none;
    box-shadow: none;
    opacity: $btn-disabled-opacity;
  }
}

@mixin btn-outline($color, $border-color, $color-hover, $border-color-hover, $shadows: $btn-shadows) {
  border: 1px solid $border-color;
  background-color: transparent;
  color: $color;

  &.c-btn-outline-active {
    border-color: $border-color-hover;
    color: $color-hover;
    background-color: transparent;
    box-shadow: $btn-shadow-outline;
  }

  &:not(:disabled) {
    &:hover {
      background-color: transparent;
      color: $color-hover;
      z-index: 1002;

      @if $shadows == true {
        box-shadow: 0 2px 12px 0px rgba(119, 119, 119, .28);
      }

      @else {
        box-shadow: 0;
      }
    }

    &:active {
      border-color: $border-color-hover;
      color: $color-hover;
      background-color: transparent;
      box-shadow: $btn-shadow-outline;
    }
  }
}

