/*  Button Base
* ====================================== */

.c-btn {
  @include btn-base();

  &:active,
  &-active {
    @include btn-active;
  }
}

.c-btn {
  &-primary {
    @include btn-style($primary, $white, $primary);

    &-outline {
      @include btn-outline($primary);
    }
  }

  &-secondary,
  &-default {
    @include btn-style-alt(#E2E2E2, #333, $bg: #fbfbfb);

    &-outline {
      @include btn-outline(#999);
    }
  }

  &-success {
    @include btn-style($success, $white, $success);

    &-outline {
      @include btn-outline($success);
    }
  }

  &-warning {
    @include btn-style($warning, $white, $warning);

    &-outline {
      @include btn-outline($warning);
    }
  }

  &-danger {
    @include btn-style($danger, $white, $danger);

    &-outline {
      @include btn-outline($danger);
    }
  }

  &-outline {
    @include btn-outline($danger);
  }
}

.c-btn {
  @include btn-size(md);

  &-sm {
    @include btn-size(sm);
  }

  &-lg {
    @include btn-size(lg);
  }

  &-xl {
    @include btn-size(xl);
  }
}

.c-btn-block {
  display: block;
  width: 100%;
  text-align: center;
}

.c-btn.c-btn-disabled,
.c-btn[disabled] {
  @include btn-disabled;
}
