$primary          : #454545 !default;
$default          : #eeeeee !default;
$secondary        : #777777 !default;
$success          : #3ebd4c !default;
$warning          : #f68f1e !default;
$danger           : #d75248 !default;
$disabled         : #ededed !default;
$light-gray       : #e6e6e6 !default;
$medium-gray      : #cacaca !default;
$dark-gray        : #8d8d97 !default;
$darkest-gray     : #414152 !default;
$black            : #0a0a0a !default;
$white            : #fefefe !default;
$body-background  : #ffffff !default;
$body-font-color  : #333333 !default;
$global-radius    : 4px;


//==========================================================================
//  Button GLOBAL Configs
//==========================================================================
$btn-font-family      : arial !default;
$btn-font-size        : 12px !default;
$btn-line-height      : 1 !default;
$btn-default-padding-v: .7em !default;
$btn-default-padding-h: 1.75em !default;
$btn-font-weight      : bold !default;
$btn-border-width     : 1px !default;
$btn-radius           : 2px !default;
$btn-shadow           : inset 0 1px rgba($white, .1), inset 0 0 0 1px rgba($white, .08), 0 1px 1px rgba($black, .05), 0 1px 4px 0 rgba(51, 51, 51, .22) !default;
$btn-shadow-active    : inset 0 0 4px rgba(0, 0, 0, .15) !default;
$btn-shadow-outline   : inset 1px 1px 7px 0 rgba(160, 160, 168, .48) !default;

$btn-active-selected  : false !default;
// Button shadows add box-shadow to buttons
$btn-shadows: true !default;
// Button gradients (true = gradients - false = solid)
$btn-gradients: false !default;


// Button disabled state
$btn-disabled-c           : #ccc !default;
$btn-disabled-bg          : #eee !default;
$btn-disabled-bd          : 1px solid #ddd !default;
$btn-disabled-text-shadow : 0 1px 1px rgba(255, 255, 255, 1) !default;
$btn-disabled-opacity     : .8 !default;

$btn-sm-font   : 11px;
$btn-sm-padding: 4px 27px;
$btn-md-font   : 12px;
$btn-md-padding: 8px 20px;
$btn-lg-font   : 14px;
$btn-lg-padding: 17px 78px;
$btn-xl-font   : 1.75em;
$btn-xl-padding: 25px 98px;



